<nav class="navbar navbar- p-4">
    <div class="d-flex justify-content-between align-items-center">
        <img src="/style/images/logoo.svg" alt="">
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search">
        </div>
    </div>
    <div class="nav-left">
        <img src="/style/images/basket.png" alt="">
        <div class="two">2</div>
    </div>
</nav>
